<div class="container mt-3">
  <div class="row justify-content-md-center">

    <div class="col-md-auto">
        <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()" autocomplete="off" >
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control"  formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
          </div>
          <button type="submit"  [disabled]="!profileForm.valid"  class="btn btn-primary">Submit</button>

        </form>
    </div>

  </div>
</div>
